In [2]:
import pandas as pd
from tableone import TableOne

In [3]:
df = pd.read_csv('demographics.csv')
df.groupby('culture_growth').count()

,department_name,age,pat_enc_csn_id_coded,ANON_ID,GENDER,CANONICAL_RACE,CANONICAL_ETHNICITY,LANGUAGE,INSURANCE_PAYOR_NAME
culture_growth,,,,,,,,,
0,21974,21974,21974,21974,21974,21974,21974,21974,21974
1,8342,8342,8342,8342,8342,8342,8342,8342,8342

In [4]:
df.groupby('department_name').count()

,age,pat_enc_csn_id_coded,ANON_ID,GENDER,CANONICAL_RACE,CANONICAL_ETHNICITY,LANGUAGE,INSURANCE_PAYOR_NAME,culture_growth
department_name,,,,,,,,,
ADULT EMERGENCY DEPARTMENT,303,303,303,303,303,303,303,303,303
PEDIATRIC EMERGENCY DEPARTMENT,27394,27394,27394,27394,27394,27394,27394,27394,27394
VCP EMERGENCY DEPARTMENT,2619,2619,2619,2619,2619,2619,2619,2619,2619

In [12]:
# Read in demographics table

#culture_growth=lambda x: ['Positive Cultures' if a == 1 else "Negative Cultures"
                                        #for a in x.culture_growth],
df = pd.read_csv('demographics.csv')
df = (df
      .assign(department_name=lambda x: ['Stanford ED' if 'VCP' not in a else "Valley Care ED"
                                         for a in x.department_name]) 
      .rename(columns={
    'department_name' : 'Emergency Department',
    "age" : "Age",
    "GENDER" : "Sex",
    "CANONICAL_RACE" : "Race",
    "CANONICAL_ETHNICITY" : "Ethnicity",
    "LANGUAGE" : "Language",
    "INSURANCE_PAYOR_NAME" : "Insurance",
    "culture_growth" : "Positive Microbial Culture",
                      })
)
# Group by patient identifier to get average age 
df.head()

,Emergency Department,Age,pat_enc_csn_id_coded,ANON_ID,Sex,Race,Ethnicity,Language,Insurance,Positive Microbial Culture
0,Stanford ED,20,131072812315,JCd93464,Male,White,Non-Hispanic,English,Other,0
1,Stanford ED,21,131201108007,JCd3aa8a,Male,Other,Hispanic/Latino,English,Other,0
2,Stanford ED,22,131238640782,JCdb2f28,Female,White,Non-Hispanic,English,Other,0
3,Valley Care ED,21,131280503998,JC2a07290,Female,White,Non-Hispanic,English,Other,1
4,Stanford ED,20,131022023016,JCe679e7,Female,White,Non-Hispanic,English,Other,0

In [13]:
columns = ["Emergency Department", 'Age', 'Sex', 'Race', 'Ethnicity', "Language", "Insurance"]
categorical = ['Emergency Department', 'Sex', 'Race', 'Ethnicity', "Language", "Insurance"]
df = df.sort_values('Positive Microbial Culture', ascending=False)
df.head()
mytable = TableOne(df, columns=columns, categorical=categorical, groupby='Positive Microbial Culture', missing=False, overall=False)

/Users/conorcorbin/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3584: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/Users/conorcorbin/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:186: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Users/conorcorbin/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/conorcorbin/opt/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:3335: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/conorcorbin/opt/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [14]:
print(mytable.tabulate(tablefmt="github"))

|                             |                  | 0            | 1           |
|-----------------------------|------------------|--------------|-------------|
| n                           |                  | 21974        | 8342        |
| Emergency Department, n (%) | Stanford ED      | 20173 (91.8) | 7524 (90.2) |
|                             | Valley Care ED   | 1801 (8.2)   | 818 (9.8)   |
| Age, mean (SD)              |                  | 63.1 (18.4)  | 67.9 (17.3) |
| Sex, n (%)                  | Female           | 10843 (49.3) | 4964 (59.5) |
|                             | Male             | 11130 (50.7) | 3378 (40.5) |
|                             | Unknown          | 1 (0.0)      |             |
| Race, n (%)                 | Asian            | 3218 (14.6)  | 1138 (13.6) |
|                             | Black            | 1555 (7.1)   | 533 (6.4)   |
|                             | Native American  | 46 (0.2)     | 32 (0.4)    |
|                             | Other            | 4349 (19.8)  | 1662 (19.9) |
|                             | Pacific Islander | 550 (2.5)    | 236 (2.8)   |
|                             | Unknown          | 156 (0.7)    | 47 (0.6)    |
|                             | White            | 12100 (55.1) | 4694 (56.3) |
| Ethnicity, n (%)            | Hispanic/Latino  | 3475 (15.8)  | 1364 (16.4) |
|                             | Non-Hispanic     | 18343 (83.5) | 6940 (83.2) |
|                             | Unknown          | 156 (0.7)    | 38 (0.5)    |
| Language, n (%)             | English          | 18257 (83.1) | 6855 (82.2) |
|                             | Non-English      | 3717 (16.9)  | 1487 (17.8) |
| Insurance, n (%)            | Medi-Cal         | 949 (4.3)    | 284 (3.4)   |
|                             | Medicare         | 10191 (46.4) | 4456 (53.4) |
|                             | Other            | 10834 (49.3) | 3602 (43.2) |

In [15]:

mytable.to_html('table1.html')

In [16]:
mytable.head()

                                           Grouped by Positive Microbial Culture  \
                                                                               0
n                                                                          21974
Emergency Department, n (%) Stanford ED                             20173 (91.8)
                            Valley Care ED                            1801 (8.2)
Age, mean (SD)                                                       63.1 (18.4)
Sex, n (%)                  Female                                  10843 (49.3)


                                                      1
n                                                  8342
Emergency Department, n (%) Stanford ED     7524 (90.2)
                            Valley Care ED    818 (9.8)
Age, mean (SD)                              67.9 (17.3)
Sex, n (%)                  Female          4964 (59.5)

In [10]:
mytable.to_csv('table1.csv')

AttributeError: 'TableOne' object has no attribute 'df'