In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pulp import *
import os, glob

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/conorcorbin/.config/gcloud/application_default_credentials.json' 
os.environ['GCLOUD_PROJECT'] = 'mining-clinical-decisions' 
%load_ext google.cloud.bigquery

from google.cloud import bigquery
client=bigquery.Client()

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

/Users/conorcorbin/opt/anaconda3/lib/python3.7/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials from Cloud SDK, you might receive a "quota exceeded" or "API not enabled" error. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [10]:
query="""
SELECT 
    feature_type, COUNT (DISTINCT features) num_features
FROM 
    mining-clinical-decisions.abx.feature_counts_long
WHERE
    EXTRACT(YEAR FROM index_time) < 2019 
AND
    feature_type not LIKE "%test%"
GROUP BY
    feature_type
ORDER BY 
    num_features DESC
"""
query_job = client.query(query)
df = query_job.result().to_dataframe()
df.head()

      feature_type  num_features
0        Diagnosis         16696
1             Meds         15965
2  Culture Results          3585
3          Imaging          2580
4              Lab          2421

In [11]:
df

            feature_type  num_features
0              Diagnosis         16696
1                   Meds         15965
2        Culture Results          3585
3                Imaging          2580
4                    Lab          2421
5             Procedures           956
6        Lab Results_val           538
7          Flowsheet_val           149
8           Demographics           125
9           Microbiology           100
10  Microbiology Culture            57
11      Respiratory Care            46
12            Department             2

In [13]:
df.to_csv('feature_types.csv', index=None)

In [12]:
df.sum()

feature_type    DiagnosisMedsCulture ResultsImagingLabProcedur...
num_features                                                43220
dtype: object